.menu-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 63px;
  padding-right: 21px;
  padding-left: 21px;
  
}
.menu-title-container {
  margin-top: 4px;
  
}
.svg-container {
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
}
.menu-title-text-style {
  flex: 0 0 auto;
  margin-left: 13px;
  font: 400 18px/18px Poppins, sans-serif;
  color: rgba(255, 255, 255, 1);
  white-space: pre-wrap;
}
.blue-analytics-box {
  background: #539bbb;
  border-radius: 17.77777862548828px;
}
