.time-card {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.time-indicator {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  align-self: flex-end;
  width: 17px;
  max-width: initial;
  height: 16px;
}
.scope-heading-text-style {
  flex: 0 0 auto;
  margin-top: -3px;
  font: 600 16px/21.5px Poppins, sans-serif;
  color: rgba(0, 0, 0, 1);
  white-space: pre-wrap;
}
