.tech-debt-info-card {
  box-sizing: border-box;
  flex: 0 0 auto;
  max-width: initial;
  height: 135px;
  padding: 12px 18px 15px;
  background: url("/assets/div__1ps03r6_16df21.svg")
    no-repeat 50% / cover;
}
.tech-debt-label {
  font: 600 12.5px Poppins, sans-serif;
  color: rgba(38, 45, 51, 1);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  white-space: pre-wrap;
}
.tech-debt-description-stats {
  margin-top: -1px;
  font: 500 9.5px/12px Poppins, sans-serif;
  color: rgba(147, 150, 153, 1);
  white-space: pre-wrap;
}
.tech-debt-value {
  margin-top: 6px;
  font: 500 23.5px/27.5px Poppins, sans-serif;
  color: rgba(38, 45, 51, 1);
  white-space: pre-wrap;
}
.price-change-info {
  margin-top: -1px;
  font: 500 11px/16px Poppins, sans-serif;
  color: rgba(75, 81, 87, 1);
  white-space: pre-wrap;
}
.tech-debt-value-stats {
  margin-top: 11px;
  font: 500 9.5px/12px Poppins, sans-serif;
  color: rgba(147, 150, 153, 1);
  white-space: pre-wrap;
}
